%ul#mainNav
  %li<
    -# Use the 'active' class for the active menu item
    %a.active{:href => '#'} DASHBOARD
  %li<
    %a{:href => '#'} ADMINISTRATION
  %li<
    %a{:href => '#'} DESIGN
  %li<
    %a{:href => '#'} OPTION
  %li<
    %a.logout{:href => '#'} LOGOUT

