#sidebar
  %ul.sideNav
    %li<
      %a{:href => '#'} Exchange
    %li<
      %a.active{:href => '#'} Print resources
    %li<
      %a{:href => '#'}&= 'Training & Support'
    %li<
      %a{:href => '#'} Books
    %li<
      %a{:href => '#'} Safari books online
    %li<
      %a{:href => '#'} Events

